<!-- this is for the google maps api-->
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
	function initialize() 
	{
		var mapCanvas = document.getElementById('map-canvas');
		var mapOptions = 
		{
			center: new google.maps.LatLng(44.5403, -78.5463),
			zoom: 8,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		}
		var map = new google.maps.Map(mapCanvas, mapOptions)
	}
	google.maps.event.addDomListener(window, 'load', initialize);
</script>


<div id="content">
	<div id="intro" class="clearfix">
		<div class="text-content">
			<p>&nbsp;</p>
			<div id="block-greens-custom-blocks-volunteer-donate-join" class="clearfix">
				<div class="block-3-boxes-links">
					<div class="linkbox">
						<div id="volunteerclickpage" class="grey">
							<h1 class="box-title">
								<br />
								<em>Volunteer</em>
							</h1>
							<br />
							<div class="box-text">Take action now, on the issues you care about</div>
						</div>
						<div class="or-box">or</div>
					</div>
					<div class="linkbox">
						<div id="donateclickpage" class="green">
							<h1 class="box-title">
								<br />
								<em>Donate</em>
							</h1>
							<br />
							<div class="box-text">Support the work we do, and help us to do even more</div>
						</div>
						<div class="or-box">or</div>
					</div>
					<div class="linkbox">
						<div id="joinclickpage" class="grey">
							<h1 class="box-title">
								<br />
								<em>Connect</em>
							</h1>
							<br />
							<div class="box-text">Get connected and stay informed</div>
							<br />
							<div class="box-text"></div>
							<div class="box-text"></div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<p>&nbsp;</p>
				<h2 class="headline" style="text-align: center;">
					<em style="font-size: 1.5em;">
						<a href="http://test4cd-mngreens.nationbuilder.com/people">
							Our People
						</a>
					</em>
				</h2>
				<a href="diane_peterson">
					<div class="left-image-homepage">
						<img src="Diane_Peterson_Updated.png" alt="Diane Peterson" width="200" height="200" />
					</div>
				</a>
				<a href="lena_buggs">
					<div class="middle-image-homepage">
						<img src="Lena_Headshot.png" alt="Lena Buggs" width="200" height="200" />
					</div>
				</a>
				<a href="trahern_crews">
					<div class="right-image-homepage">
						<img src="Tray_Website_Headshot.png" alt="Trahern Crews" width="200" height="200" />
					</div>
				</a>
				<div style="margin-left:60px; margin-right: 80px; float: left; margin-bottom: 40px; width: 200px; text-align: center;">
					<a href="diane_peterson">
						<h4>
							Diane Peterson
							<br>
							Co-Chair
						</h4>
					</a>
				</div>
				<div style="margin-right:60px; float: left; margin-bottom: 40px;width: 200px; text-align: center;">
					<a href="lena_buggs">
						<h4>
							Lena Buggs
							<br>
							Co-Chair
						</h4>
					</a>
				</div>
				<div style="margin-right:60px; float: left; margin-bottom: 40px;width: 200px; text-align: center;">
					<a href="trahern_crews">
						<h4>
							Trahern Crews
							<br>
							Spokesperson
						</h4>
					</a>
				</div>
			</div>
			<div style="float:left;">
				<h2 style="text-align: center;">
					<em style="font-size: 1.5em;">
						<strong>
							<br>
							<a href="http://test4cd-mngreens.nationbuilder.com/policy">
								Our Policy
							</a>
						</strong>
					</em>
				</h2>
				<p style="text-align: center;">
					The 4th CD Green Party (GPSP) is guided by the four co-equal pillars of the international Green Party:
					<br />
					<strong>
						Grassroots Democracy, Ecological Wisdom, Social and Economic Justice
					</strong>
					<br />
					GPSP does not endorse candidates who accept corporate or PAC money.
				</p>
				<p>&nbsp;</p>
			</div>
			<div id="block-greens-custom-blocks-volunteer-donate-join2">
				<div class="block-3-boxes-links2">
					<div class="linkbox2">
						<a href="for_a_cleaner_environment">
							<div class="grey2">
								<div class="box-title2">
									<br>
									<img src="http://d3n8a8pro7vhmx.cloudfront.net/themes/54f124ea2213932677000001/attachments/original/1430532670/platform_environment.png?1430532670" height="100" width="250" style="margin-left:25px;">
									<br>
									<br>
									<em>
										<h1 class="box-text" style="font-size:22px; margin-left: 55px;">
											For a Cleaner 
											<br> 
											Environment
										</h1>
									</em>
								</div>
								<div class="box-text2">
									<p style="margin-left: 40px; width:14em;">
										Saint Paul and the 4th CD deserve a greener healthier environment: clean water, access to urban agriculture, curbside composting, and bikeable streets.
									</p>
								</div>
							</div>
						</a>
					</div>
					<div class="linkbox2">
						<a href="for_a_fairer_society">
							<div class="green2">
								<div class="box-title2">
									<br>
									<img src="http://d3n8a8pro7vhmx.cloudfront.net/themes/54f124ea2213932677000001/attachments/original/1430532663/ForafairSaintPaul.png?1430532663" width="250" height="100"  style="margin-left:25px;">
									<br>
									<br>
									<em>
										<h1 class="box-text" style="font-size: 22px; margin-left: 55px;">
											For a Fairer
											<br>
											Society
										</h1>
									</em>
								</div>
								<div class="box-text2">
									<p style="margin-left: 40px; width:14em;">
										The Green Party envisions a Saint Paul/4th CD which celebrates diversity and encourages appreciation and cooperation between groups.
									</p>
								</div>
							</div>
						</a>
					</div>
					<div class="linkbox2">
						<a href="for_a_more_just_economy">
							<div class="grey2">
								<div class="box-title2">
									<br>
									<img  src="http://d3n8a8pro7vhmx.cloudfront.net/themes/54f124ea2213932677000001/attachments/original/1430532666/platform_economy.png?1430532666" height="100" width= "250" style="margin-left:25px;">
									<br>
									<br>
									<em>
										<h1 class="box-text" style="font-size:22px; margin-left: 55px;">
											For a More Just
											<br>
											Economy
										</h1>
									</em>
								</div>
								<div class="box-text2">
									<p style="margin-left: 40px; width:14em;">
										The Green Party of the 4th CD believes in livable wages and locally controlled economies that serve communities, not take advantage of them.
									</p>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div style ="float: left; margin-top: 130px;">
				<h2 style="text-align: center;">
					<em>
						<a href="http://test4cd-mngreens.nationbuilder.com/news">
							Updates
						</a>
						<br>
						<br>
					</em>
				</h2>
				<div class="main-page-blog-widget-columns">
					<div class="main-page-blog-widget-first-column">
						<div data-href="https://www.facebook.com/pages/Green-Saint-Paul/257599474278297" 
							data-hide-cover="false" 
							data-show-facepile="true" 
							data-show-posts="true" 
							class="fb-page fb_iframe_widget" 
							fb-xfbml-state="rendered" 
							fb-iframe-plugin-query="app_id=114545895322903&amp;container_width=1000&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FGreen-Saint-Paul%2F257599474278297&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=true">
							<span style="vertical-align: bottom; width: 1000px; height: 500px;">
								<iframe name="f1411e054c" 
									width="1000px" 
									height="1000px" 
									frameborder="0" 
									allowtransparency="true" 
									scrolling="no" 
									title="fb:page Facebook Social Plugin" 
									src="https://www.facebook.com/v2.3/plugins/page.php?app_id=114545895322903&amp;channel=https%3A%2F%2Fs-static.ak.facebook.com%2Fconnect%2Fxd_arbiter%2F6Dg4oLkBbYq.js%3Fversion%3D41%23cb%3Df2f9af8f94%26domain%3Ddevelopers.facebook.com%26origin%3Dhttps%253A%252F%252Fdevelopers.facebook.com%252Ff62d042d%26relation%3Dparent.parent&amp;container_width=1000&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FGreen-Saint-Paul%2F257599474278297&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=true" 
									style="border: none; visibility: visible; width: 340px; height: 500px;" 
									class="">
								</iframe>
							</span>
						</div>
					</div>
					<div class="main-page-blog-widget-second-column">
						<h2>
							Latest Blog Posts
						</h2>
						<br>
						<!-- this is for the blog update widget - to change the styling of this, see _blog_main_page.html-->
						{% subpage "newsfeed" with "blog_main_page" %}
					</div>
				</div>
			</div>
		</div>
		{% if page.tags_count > 0 %}
			<div class="page-tags">
				{% include "page_tags" with page %}
			</div>
		{% endif %}

		{% if page.is_homepage? == true and site.page_tags contains "homepage" %}
			{% tag "homepage" with "homepage_widget" %}
		{% endif %}

		{% if page.show_stream? %}
			{% include "page_stream" %}
		{% endif %}
	</div>
</div>